/* body {
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
    margin: 0px;
} */

canvas {
    height: 100%;
    width: 100%; 
}

#container {
    height: 99%;
    position: relative;
    width: 99%;
}

button {
    position: absolute;
    width: 5%;
}

.player-select {
    bottom: 8%;
}

#select-red {
    left: 32.5%;
}

#select-green {
    left: 42.5%;
}

#select-yellow {
    right: 42.5%;
}

#select-blue {
    right: 32.5%;
}

#start {
    top: 30%;
    right: 30%;
}